:root.theme-dark {
    --main-back-color: rgb(1, 0, 40);
    --main-txt-color: #F1B2CE;
    --h1-txt-color: #DB00FF;
    --h2-txt-color: #FF0070;
    --subtitle-txt-color: #000028;
    --accent-color: #FF0070;
    --focus-color: #FF0070;
    --main-txt-size: 18px;
    --shadow-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-back-color: rgb(1, 0, 40);
        --main-txt-color: #F1B2CE;
        --h1-txt-color: #DB00FF;
        --h2-txt-color: #FF0070;
        --subtitle-txt-color: #000028;
        --accent-color: #FF0070;
        --focus-color: #FF0070;
        --main-txt-size: 18px;
        --shadow-color: #FF0070;
    }

    header {
        background-image: url("../images/cover-image-dark.png");
    }
}

.theme-dark header {
    background-image: url("../images/cover-image-dark.png");
}

