/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/*
  Тёмная тема: переопределяет переменные палитры
  для класса .theme-dark (принудительная тёмная тема)
*/

:root.theme-dark {
    --main-back-color: rgb(1, 0, 40);
    --main-txt-color: #F1B2CE;
    --h1-txt-color: #DB00FF;
    --h2-txt-color: #FF0070;
    --subtitle-txt-color: #000028;
    --accent-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
    :root.theme-auto {
        --main-back-color: rgb(1, 0, 40);
        --main-txt-color: #F1B2CE;
        --h1-txt-color: #DB00FF;
        --subtitle-txt-color: #000028;
        --accent-color: #FF0070;
    }
}


/* Показываем фоновое изображение в тёмной теме */
.theme-dark .background-img {
    display: block;
}
