/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/*
  Светлая тема: переопределяет переменные палитры
  для класса .theme-light и автоматического режима
*/

:root.theme-light {
    --main-back-color: #FFF1F7;
    --accent-color: #ff8dcb;
    --h1-txt-color: #ffc2e6;
    --h2-txt-color: #353430;
    --main-txt-color: #353430;
    --subtitle-txt-color: #353430;
    --focus-color: #FFF1F7;
}

@media (prefers-color-scheme: light) {
    :root.theme-auto {
        --main-back-color: #ffffff;
        --accent-color: #ff8dcb;
        --h1-txt-color: #ffc2e6;
        --main-txt-color: #353430;
        --subtitle-txt-color: #000028;
    }
}
/* Скрыть фоновое изображение в светлой теме (как в исходном) */
.theme-light .header {
    background-image: none;
}