body {
    background-color: var(--main-back-color);
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../images/cover-image-dark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.rec__text {
    position: absolute;
    top: 10px;
    right: 38px;
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-size: var(--main-txt-size);
    line-height: 25px;
    text-align: center;
    color: var(--focus-color);
}

.rec__text::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -28px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--h2-txt-color);
    border-right: 1px solid var(--h2-txt-color);
}

.rec__text::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -19px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--focus-color);
    box-shadow: 0 0 4px 2px var(--focus-color);
}

.header__theme-menu {
    position: absolute;
    top: 75px;
    right: 10px;
}

.header__theme-menu-button {
    background: none;
    border: 1.5px solid transparent;
    color: var(--h2-txt-color);
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: var(--main-txt-size);
    line-height: 18px;
    text-align: center;
    padding: 6.5px 13px;
}

.header__theme-menu-button_active {
    border-width: 1.5px;
    border-color: var(--h2-txt-color);
}

.header__title {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-size: 116px;
    line-height: 83%;
    color: var(--h1-txt-color);
    white-space: wrap;
    text-shadow: 4px 4px var(--shadow-color);
}

.header__text__box {
    height: 117px;
    width: 355px;
    position: absolute;
    top: 485px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--accent-color);
}

.header__subtitle {
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-size: var(--main-txt-size);
    line-height: 23.4px;
    color: var(--subtitle-txt-color)
}

.ung__low {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--h2-txt-color);
    border-left: 1px solid var(--h2-txt-color);
}

.main {
    background-color: var(--main-back-color);
    width: 100%;
}

.main p {
    color: var(--main-txt-color);
    font-family: IBM Plex Mono;
    font-weight: 400;
    font-size: var(--main-txt-size);
    line-height: 23.4px;
}

.grid__768 {
    margin: 0 10px 50px;
    overflow: hidden;
}

.grid__768:nth-child(1) {
    padding-top: 40px;
}

.grid__1024 {
    margin: 0 10px 50px;
    overflow: hidden;
}

.h2__1024 {
    margin: 0 10px;
}

h2 {
    font-family: IBM Plex Mono;
    font-size: var(--main-txt-size);
    font-weight: 700;
    line-height: 23.4px;
    color: var(--h2-txt-color)
}

h3 {
    background-color: var(--accent-color);
    margin: 20px 0 10px;
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-size: var(--main-txt-size);
    line-height: 23.4px;
    color: var(--subtitle-txt-color);
}

.main img {
    width: 100%;
    margin-bottom: 10px;
}

.img__section {
    margin: 0 10px 0;
}

.last__h3 {
    margin: 50px 10px 10px;
}

footer {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--main-back-color);
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ung__height {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--h2-txt-color);
    border-right: 1px solid var(--h2-txt-color);
}

.footer__title {
    font-family: IBM Plex Mono;
    font-weight: 700;
    font-size: 116px;
    line-height: 83%;
    color: var(--h1-txt-color);
    text-shadow: 4px 4px var(--shadow-color);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header__title {
        font-size: 120px;
    }
    .header__theme-menu {
        top: 192px;
        right: 20px;
    }

    .header__text__box {
        margin-right: 0;
        height: 117px;
        width: 364px;
        right: 20px;
        bottom: 183px;
    }

    .h2__1024 {
        width: 236px;
        height: 70px;
    }

    .footer__title {
        font-size: 120px;
    }

    .img__section {
        height: 823px;
    }
}
@media (min-width: 768px) {
    .grid__1024 {
        margin: 0 20px 80px;
    }

    .h2__1024 {
        margin: 0 20px 0;
    }

    .grid__768:not(:nth-child(2)) {
        margin: 0 20px 80px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 20px;
        column-gap: 20px;
    }
    .grid__768 h2 {
        margin-top: 0;
    }

    .grid__768:nth-child(1) {
        padding-top: 60px;
    }

    .to__right__column {
        grid-column: 2;
    }

    .to__right__column h3:not(.crutch) {
        margin: 0 0 10px 0;
    }

    .crutch {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .img__section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .img__section {
        height: 823px;
        margin: 0 20px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "img1 img1 img2"
        "img3 img4 img2"
        "img3 img5 img5"
        "img3 img5 img5";
        gap: 20px;
    }

    .img__section img:nth-child(1) {
        grid-area: img1;
    }

    .img__section img:nth-child(2) {
        grid-area: img2;
    }

    .img__section img:nth-child(3) {
        grid-area: img3;
    }

    .img__section img:nth-child(4) {
        grid-area: img4;
    }

    .img__section img:nth-child(5) {
        grid-area: img5;
    }
    .rec__text::before {
        top: 9px;
        right: -18px;
        z-index: 10;
    }

    ung__low {
        bottom: 20px;
        left: 20px;
    }

    .last__h3 {
        margin: 80px 10px 10px;
    }

    footer {
        padding-top: 60px;
    }
}

@media (min-width: 1024px) {
    .header__title {
        font-size: 157px;
    }
    .header__theme-menu-button {
        height: 26px;
        width: 70px;
    }

    .header__text__box {
        margin-right: 0;
        right: 20px;
        bottom: 134px;
        width: 491px;
        height: 71px;
    }
    .header__theme-menu-list {
        display: flex;
        justify-content:  center;
    }

    .header__theme-menu {
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .grid__1024 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .h2__1024 {
        height: 47px;
        width: 30.7%;
    }

    .img__section {
        height: 1048px;
    }

    .footer__title {
        font-size: 157px;
    }


}